@(message: String)

@main("Welcome to Play 2.0") {

<div class="container">

  <!-- Masthead
  ================================================== -->
  <header class="jumbotron subhead" id="overview">
	<p>&nbsp;</p>
	<h1>This is a Play 2.0 application, running in a Servlet v3.0 Container :)</h1>
  </header>

	<section id="global">
	  <div class="page-header">
		<h1>How does it work ?</h1>
	  </div>
	  <div class="row">
		<div class="span8">
		  <h2>This application is built with the Play 2 WAR plugin.</h2>
		  <p>Find it here: <a href="https://github.com/dlecan/play2-war-plugin">https://github.com/dlecan/play2-war-plugin</a>.</p>
		</div><!-- /.span -->
	  </div><!-- /.row -->
	</section>
 
</div><!-- /container -->
 
}