@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
		<link rel="shortcut icon" type="image/png"href='@routes.Assets.at("lib/a-play2war-sample-common/images/favicon.png")'>
		<link href='@routes.Assets.at("lib/a-play2war-sample-common/stylesheets/bootstrap.css")' rel="stylesheet">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/a-play2war-sample-common/stylesheets/main.css")">
		<script src="@routes.Assets.at("lib/a-play2war-sample-common/javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		</head>
    <body>
        @content
		
		<script src='@routes.Assets.at("lib/a-play2war-sample-common/javascripts/bootstrap.js")'></script>
    </body>
</html>
